nav {
    text-align: center;
    margin-bottom: 60px;
    padding: 40px 300px 0 300px;
}
img {
    width:300px;
}
.navname {
    border-top: 2px solid rgba(121, 121, 121, 0.377);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.navname div{
    display: inline;
    font-size: 35px;
    margin: 0 110px; 
    font-weight: 800;   
}
a {
    text-decoration: none; 
    color: rgb(80, 80, 80);
}
.clock {
    text-align: left;
    font-size: 25px;
    font-weight: 800;
    color: rgb(80, 80, 80);
    margin-left: 95px;
    margin-bottom: 10px;
}
